[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
flask = "*"
pyyaml = "*"
gunicorn = "*"
networkx = "*"
tensorflow = "==2.11.1"

[dev-packages]
python-dotenv = "*"
isort = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
ipykernel = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.9"
