[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
flask = "*"
pyyaml = "*"
gunicorn = "*"

[dev-packages]
python-dotenv = "*"
isort = "*"
pre-commit = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
